.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-content {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.layout {
  max-width: 100vw;
  height: 85vh;
  /* border: 1px solid black; */
  background-color: red;
  background: url("./Image/intro-bg.jpg");
  background-size: cover;
  position: relative;
}

.header {
  color: white;
  width: 100%;
  background-color: black;
  height: 54px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 54px;
}

.navigation img {
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: flex;
  height: 100%;
}

.menu div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu div:hover {
  cursor: pointer;
  background-color: #11abb0;
}

.active {
  background-color: #11abb0;
}

.slidder {
  color: white;
  height: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.slidder h2 {
  font-size: 54px;
  margin-bottom: 30px;
}

.slidder p {
  font-size: 17px;
  opacity: 0.5;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
}

.services-bg {
  background: url("./Image/Patern/servicesbg.png");
  background-repeat: repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}

.services {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.services p {
  opacity: 0.5;
}

.grey-bg {
  background: url("./Image/Patern/grey.png");
  background-repeat: repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio {
  margin-bottom: 50px;
  width: 100%;
}

.portfolio h2 {
  font-weight: bold;
  color: #0f9095;
}

.portfolio p {
  color: #999999;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.portfolio-img {
  width: 100%;
}

.portfolio-img div {
  margin: 1%;
  width: 23%;
  height: 300px;
  box-shadow: 5px 5px 0px 0px rgba(184, 180, 184, 1);
}

.portfolio-img div img {
  width: 100%;
  height: 250px;
}

.portfolio-img div p {
  font-weight: bold;
  color: #11abb0;
  line-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  opacity: 1;
}

.portfolio-img div:hover p,
.portfolio-img div:hover img {
  background-color: #0f9095;
  cursor: pointer;
  color: white;
}

.journal-bg {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0f9095;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.pp-author {
  height: 100%;
  width: 100%;
}

.pp-author img {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.jornal-title {
  color: white;
}

.jornal-title:hover {
  cursor: pointer;
  color: #313131;
}

.about-team {
  width: 100%;
  padding-bottom: 5px;
}

.about-team img {
  width: 100%;
  height: 250px;
}

.icon-sosmed {
  display: flex;
  padding-top: 5px;
}

.icon-sosmed img {
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.Testimoni-client {
  display: flex;
}

.Testimoni-client img {
  border-radius: 50%;
  margin-right: 10px;
}

.Testimoni-client div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-info {
  margin-bottom: 100px;
  color: #707b89;
}

.contact-info h3 {
  color: #0f9095;
  font-family: "Montserrat", sans-serif;
}

.contact-info p {
  font-family: "Open Sans", sans-serif;
}

.about-input input,
.about-input textarea {
  width: 100%;
  padding: 18px 20px;
}

.about-input input:focus,
.about-input textarea:focus {
  background-color: #11abb0;
  outline: none;
  border: none;
  caret-color: white;
}

.about-input button {
  border: none;
  background-color: #11abb0;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 18px 30px;
  border-radius: 5px;
}

.about-input button:hover {
  background-color: white;
  color: black;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #141719;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #303030;
}